
<div class="bg-pink-500 w-96 mx-auto mt-16 py-8 px-5 rounded-lg drop-shadow-xl">
<h1 class="pb-4 text-center text-white text-3xl font-semibold">New Order</h1>
<%= form_with model: @order, url: orders_path, method: :post do |form| %>
  <%= form.fields_for :order_detail  do |order_detail_form| %>
    <% if !user_signed_in? %>
      <div>
        <%= order_detail_form.label :first_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= order_detail_form.text_field :first_name, placeholder: "Firstname", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div>
        <%= order_detail_form.label :last_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= order_detail_form.text_field :last_name, placeholder: "Lastname", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div>
        <%= order_detail_form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= order_detail_form.email_field :email, placeholder: "Email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    <% end %>
  <% end%>

  <%= form.fields_for :adress do |adress_form| %>
      <div>
        <%= adress_form.label :country, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= adress_form.text_field :country, placeholder: "Country", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div>
        <%= adress_form.label :city, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= adress_form.text_field :city, placeholder: "City", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div>
        <%= adress_form.label :street, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= adress_form.text_field :street, placeholder: "Street", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
  <% end %>

  <div>
    <%= form.submit "Submit", class:'w-32 h-14 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-lg px-5 py-2.5 text-center mx-24 mt-8' %>
  </div>
<% end %>
</div>
