<div class="reg-form-container">
  <%= simple_form_for @order do |form| %>
    <%= form.simple_fields_for :order_detail do |details_form| %>
      <% if !user_signed_in? %>
        <%= details_form.input :first_name, input_html: { class:"reg-form-field w-64" } %>
        <%= details_form.input :last_name, input_html: { class:"reg-form-field w-64" }%>
        <%= details_form.input :email, input_html: { class:"reg-form-field w-64" } %>
      <% end %>
      <%= details_form.simple_fields_for :adress do |adress_form| %>
        <%= adress_form.input :country, priority: ["UA"], input_html: { class:"reg-form-field h-10 w-64" } %>
        <%= adress_form.input :city, input_html: { class:"reg-form-field w-64" } %>
        <%= adress_form.input :street, input_html: { class:"reg-form-field w-64" } %>
        <%= adress_form.input :comment, as: :text, input_html: { class:"reg-form-field h-16 w-64" } %>
      <% end %>
    <% end %>
    <%= form.button :submit, 'Submit Order', class:"btn-blue my-4" %>
  <% end %>
</div>
