<% if user_signed_in? %>
  <% if @cart.products.present? %>
    <div class="cart-container">
      <% @cart.products.each do |product| %>
        <%= render 'carts/cart_product', product: product %>
      <% end %>
      <%= link_to 'Make order', new_order_path, class: "btn-blue w-40 mx-auto my-6" %>
    </div>
  <% else %>
    <div class="empty-cart-container w-2/4">
      <%= "Your cart is empty. Let`s discover our assortiment!" %>
      <%= link_to 'Show products', root_path, class: "h-12 btn-blue" %>
    </div>
  <% end %>
<% else %>
  <% if @products.present? %>
    <div class="cart-container">
      <% @products.each do |product| %>
        <%= render 'carts/cart_product', product: product %>
      <% end %>
      <%= link_to 'Make order', new_order_path, class: "btn-blue mx-auto my-6" %>
    </div>
  <% else %>
    <div class="empty-cart-container w-2/4">
      <%= "Your cart is empty. Let`s discover our assortiment!" %>
      <%= link_to 'Show products', root_path, class: "btn-blue w-40 mx-auto mt-6" %>
    </div>
  <% end %>
<% end %>
