<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= product.name %>
  </th>
    <td class="px-6 py-8">
      <%= product.category.name %>
    </td>
    <td class="px-6 py-4">
      <%= product.price %>
    </td>
    <td class="px-6 py-4 text-right">
      <%= button_to 'Delete', destroy_cart_product_path(id: product.id), method: :delete, class:'w-20 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2' %>
    </td>
    <td class="px-6 py-4 text-right">
      <%= button_to 'Show', get_product_path(id: product.id), method: :get, class:'w-20 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2' %>
    </td>
</tr>
